<div id="page-content">
  <div class="container">
    <h1 class='text-center mt-4'> Edit article</h1>
    <div class="row justify-content-center">
      <div class="col-10">
        <% if @article.errors.any? %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">The following article was not saved because of the following errors:</h4>
            <ul>
              <% @article.errors.full_messages.each do |msg|%>
                <li>
                  <%= msg %>
                </li>
              <% end %>
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
        <%= form_with(model: @article, local: true, class: "shadow-lg p-3 mb-3 bg-info rounded", data: { turbo: false } ) do |f|%>
          <div class="form-group row">
            <%= f.label :title, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
              <%= f.text_field :title, class: "form-control shadow rounded mb-3", placeholder: "Title of article" %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :description, class: "col-2 col-form-label text-light"%>
            <div class="col-10">
              <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Description of article"%>
            </div>
          </div>

          <div class="justify-content-center btn-conta">
            <div class="form-group row form-btn">
              <%= f.submit class: "btn btn-outline-light btn-lg"%>
            </div>
          </div>
        <% end %>
      </div>
        <%= link_to 'Cancel and return to articles listing', articles_path, class: "back" %>
    </div>
  </div>
</div>